@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?-rba5vl');
  src:url('../../fonts/icomoon.eot?#iefix-rba5vl') format('embedded-opentype'),
    url('../../fonts/icomoon.woff?-rba5vl') format('woff'),
    url('../../fonts/icomoon.ttf?-rba5vl') format('truetype'),
    url('../../fonts/icomoon.svg?-rba5vl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-alt:before {
  content: "\f1e0";
}

.icon-search:before {
  content: "\f02e";
}

.icon-uniE60B:before {
  content: "\e60b";
}

.icon-comment:before {
  content: "\e60c";
}

.icon-calendar:before {
  content: "\e60d";
}

.icon-caret:before {
  content: "\f0da";
}

.icon-cog:before {
  content: "\e600";
}

.icon-heart:before {
  content: "\e603";
}

