/* # VARIABLES
================================================== */
$animation-support: webkit, moz, o, ms, not khtml;

$susy: (
  columns: 12,
  math: fluid,
  //container: 1170px, PADRÃO MENOR
  //container: 1360px, PADRÃO MAIOR
  container: 1270px,
  gutters: 1/2,
  gutter-position: split,
  use-custom: (
    box-sizing: false,
  )
);

$breakpoints: (
  mobile: 720px,
  tablet: 1024px,
  menu-navigation: 835px
);

$gray0 : #1A1A1A;
$gray1 : #333333;
$gray2 : #4D4D4D;
$gray3 : #666666;
$gray4 : #808080;
$gray5 : #979797;
$gray6 : #B1B1B1;
$gray7 : #CACACA;
$gray8 : #E4E4E4;
$gray9 : #F0F0F0;

$white      : #F1F1F1;
$black      : #2A2A2A;
$red        : #A6352F;
$blue-light : #46638C;
$blue-dark  : #2C3E50;
